#root {
  --deep-purple: #250027;
  --light-blue: #43E3FF;
  --dirty-blue: #4D71C0;
  --hot-pink: #FF0083;
  --pink: #F700FF;
  background-color: var(--deep-purple);
}

.nav.nav-tabs {
  border-bottom-color: var(--hot-pink);
}
.nav-tabs .nav-item .nav-link {
  color: var(--hot-pink);
  background-color: var(--deep-purple);
  border-color: var(--hot-pink);
  text-decoration: none;
}

.nav-tabs .nav-item .nav-link:hover {
  border-color: var(--dirty-blue);
  color: var(--dirty-blue);
}

.nav-tabs .nav-item .nav-link.active {
  background-color: var(--deep-purple);
  color: var(--light-blue);
  text-decoration: none;
  border-color: var(--light-blue);
  border-bottom-color: var(--deep-purple);
}

.text {
  color: var(--pink)
}
.me {
  position: absolute;
  color: var(--hot-pink);
  top: 5px;
  left: 40px;
}

.list-group-item {
  background-color: var(--deep-purple);
  color: var(--hot-pink);
  border-color: var(--hot-pink);
}

.list-group-item:hover {
  color: var(--light-blue);
  background-color: var(--deep-purple);
  border-color: var(--light-blue);
}